<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>MaximumTrainer needs Bluetooth to connect to your bike trainer and sensors.</string>
  <key>CFBundleName</key>
  <string>MaximumTrainer</string>
  <key>CFBundleIdentifier</key>
  <string>com.maximumtrainer.MaximumTrainer</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>MaximumTrainer</string>
</dict>
</plist>
